/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */
 * {
	 box-sizing: border-box;
 } 


body {
	font-size: 16px;
	line-height: 1.5;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 32px;
	font-size: 0%;
}


/* header */
.header {
	font-size: 0%;
	background-color: gainsboro;
	padding: 16px 0;
}

.brand img {
	width: 180px;
	}

.brand, .nav {
	display: inline-block;
	vertical-align: middle;
}

.nav {
	width: calc(100% - 180px);
	text-align: right;
}

.nav a {
	font-size: 24px;
	text-decoration: none;
	margin-left: 32px;
}

.div1 , .div2 {
	display: inline-block;
	width: 50%;
	margin: 40px 0;
	
}

.div1 p {
	font-size: 20px;
}

.div1 h2 {
	font-size: 30px;
	margin: 20px 0;
	font-weight: bold;
}

.div2 {
	vertical-align: top;
	width: 40%;
    margin-left: 25px;	
}

.div2 img {
	height: 350px;
    width: 450px; 
	margin-top: 80px;
	margin-left: 100px;
}

.lastdiv {
	font-size: 20px;
	text-align: center;
	padding: 30px;
	
}

.a1 {
	margin-left: 40px;
	color: rgb(221, 21, 138);
	text-decoration: none;
} 

footer {
	background-color: gainsboro;
}